body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #263238;
}

#container {
  width: 98%;
  height: 57.89vw;
  max-width: 760px;
  max-height: 440px;
}

#input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 8;
  background: #263238;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

#input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #263238;
  cursor: pointer;
}

#input::-webkit-slider-thumb:hover {
  background: #0CC2B5;
}

#input::-moz-range-thumb {
  -moz-appearance: none;
  border: 0px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #263238;
  cursor: pointer;
}

#input::-moz-range-thumb:hover {
  background: #0CC2B5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#maprf {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */

  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

#legend {
  position: relative;
  width: 100%;
  height: 8pt;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 21pt;
  margin-bottom: 36pt;
}

.legendTile {
  font-size: 8pt;
  position: relative;
  top: 12;
  transform: translate(0px,12px);
}

.regAbbr {
  font-size: 8pt;
  top: 0;
  left: 0;
}

.tile{
  width: 100%;
  height: 100%;
}

/* .tile:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #263238;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
} */

h1 {
  font-size: 24pt;
}

.tileCont {
  position: relative;
}

.tooltip {
  position: relative;
}

.tooltip-bubble {
  width: max-content;
  height: max-content;
  position: absolute;
  z-index: 10;
}

.tooltip-left {
  top: 100%;
  right: 100%;
  transform: translate(-4px,24px);
}

.tooltip-right {
  top: 100%;
  left: 100%;
  transform: translate(36px,24px);
}

.tooltip-message {
  background: #E5FFFB;
  border-radius: 3px;
  color: #263238;
  font-size: 10pt;
  padding: .75em;
  text-align: left;
  /* box-shadow: 0px 0px 5px 0.05px #263238; */
}

@media (max-width: 500px) {
  .regAbbr {
    display: none;
  }

  h1 {
    font-size: 18pt;
  }
}

@media (min-width: 700px) {
  .legendTile {
    font-size: 10pt;
    transform: translate(0px,16px);
  }
  .regAbbr {
    font-size: 10pt;
  }
}